<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.systemperingatan">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">

        <activity android:name=".LoginRegister.FirebaseAuthActivity"></activity>
        <activity android:name=".Admin.UI.Activity.EditAdminActivity" />
        <activity
            android:name=".Admin.UI.Activity.EditLocationPointActivity"
            android:label="Edit Location Point" />
        <activity android:name=".LoginRegister.Register" />
        <activity android:name=".LoginRegister.Login" />
        <activity
            android:name=".Admin.UI.Activity.EditRadiusActivity"
            android:label="@string/title_activity_edit_radius" />
        <activity android:name=".Admin.UI.Activity.EditNamaAreaActivity" />
        <activity android:name=".Admin.UI.Activity.EditNamaZonaActivity" />
        <activity android:name=".Admin.UI.Activity.ListDataAreaZonaActivity" />
        <activity android:name=".Admin.UI.Activity.ListDataNotifikasi" />
        <activity android:name=".Admin.UI.Activity.MapsAdminActivity" />
        <activity
            android:name=".Admin.UI.Activity.AddNewPointActivity"
            android:label="@string/title_activity_add_new_point" />
        <activity
            android:name=".Admin.UI.Activity.AddNewMapActivity"
            android:label="@string/title_activity_add_new_map" />
        <activity
            android:name=".User.UI.UserActivity"
            android:label="@string/title_activity_user">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Admin.UI.Activity.search.SearchDataUser"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".User.UI.UserActivity" />
        </activity>

        <activity
            android:name=".Admin.UI.Activity.search.SearchEnter"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".User.UI.UserActivity" />
        </activity>

        <activity
            android:name=".Admin.UI.Activity.search.SearchExit"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".User.UI.UserActivity" />
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <receiver
            android:name=".User.Notification.GeofenceBroadcastReceiver"
            android:enabled="true"
            android:exported="true"></receiver>

        <service
            android:name=".User.Notification.IntentHandleWork"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.location.PROVIDERS_CHANGED" />
            </intent-filter>
        </service>

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
    </application>

</manifest>